  <section id="content"> 
   <section class="vbox"> 
    <section class="scrollable"> 
     <div id="masonry" class="pos-rlt animated fadeInUpBig" style="height: auto;"> 
      <div tile-id="1" class="pos-abt" style="width: 394px; height: 394px;">
       <div class="item"> 
        <div class="carousel slide auto" data-interval="3000"> 
         <div class="carousel-inner">  
          <div class="item"> 
           <div class="item-overlay opacity animated fadeInDown wrapper bg-info"> 
            <p class="text-white">N.01</p> 
            <div class="center text-center m-t-n"> 
             <a href="#"><i class="icon-control-play i-2x"></i></a> 
            </div> 
           </div> 
           <div class="bottom wrapper bg-info gd"> 
            <div class="m-t m-b">
             <a href="#" class="b-b b-danger h2 text-u-c text-lt font-bold">乐行者</a>
            </div> 
            <p class="hidden-xs">任他们说，他们看，我都不管我只要，爱你的人就是我</p> 
           </div> 
           <a href="#"><img src="/images/m20.jpg" alt="" class="img-full" /></a> 
          </div> 
          <div class="item active"> 
           <div class="item-overlay opacity animated fadeInDown wrapper bg-info"> 
            <p class="text-white">N.02</p> 
            <div class="center text-center m-t-n"> 
             <a href="#"><i class="icon-control-play i-2x"></i></a> 
            </div> 
           </div> 
           <div class="bottom wrapper bg-info gd"> 
            <div class="m-t m-b">
             <a href="#" class="b-b b-warning h2 text-u-c text-lt font-bold">江南</a>
            </div> 
            <p class="hidden-xs">江南烟雨中，心碎了才懂</p> 
           </div> 
           <a href="#"><img src="/images/m22.jpg" alt="" class="img-full" /></a> 
          </div> 
         </div> 
        </div> 
       </div>
      </div>
      <div tile-id="2" class="pos-abt" style="left: 394px; width: 197px; height: 394px;">
       <div class="item"> 
        <div class="item-overlay gd animated fadeInUp wrapper bg-info"> 
         <p class="text-white">Watch later</p> 
         <div class="center text-center m-t-n"> 
          <a href="#"><i class="icon-control-play i-2x"></i></a> 
         </div> 
        </div> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">三十</a>
         </div> 
         <p class="hidden-xs">何处望神州，金戈铁马战不休</p> 
        </div> 
        <a href="#"><img src="/images/m31.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="3" class="pos-abt" style="left: 591px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-warning h4 text-u-c text-lt font-bold">冷酷到底</a>
         </div> 
         <p class="hidden-xs">请别再说，我爱你</p> 
        </div> 
        <a href="#"><img src="/images/m10.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="4" class="pos-abt" style="left: 788px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="item-overlay active bg-primary dker wrapper text-center"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-white h4 text-u-c text-lt font-bold">最美</a>
         </div> 
         <p class="hidden-xs">你在我眼中是最美，只有相爱的人才能体会</p> 
        </div> 
       </div>
      </div>
      <div tile-id="5" class="pos-abt" style="left: 985px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">没你不行</a>
         </div> 
         <p class="hidden-xs">嘿嘿嘿，是你吗，海般湛蓝的天空</p> 
        </div> 
        <a href="#"><img src="/images/m4.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="6" class="pos-abt" style="left: 591px; top: 197px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="carousel carousel-fade bg-info slide auto" data-interval="6000"> 
         <div class="carousel-inner"> 
          <div class="item"> 
           <div class="item-overlay active dker wrapper text-center"> 
            <div class="m-t m-b">
             <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">热爱</a>
            </div> 
            <p class="hidden-xs">你在我心中是最美，只有相爱的人才能体会</p> 
           </div> 
           <a href="#"><img src="/images/m4.jpg" alt="" class="img-full" /></a> 
          </div> 
          <div class="item active"> 
           <div class="item-overlay active dk wrapper text-center"> 
            <div class="m-t m-b">
             <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">朋友难当</a>
            </div> 
            <p class="hidden-xs">我是我，你是你，谁的脑袋有问题</p> 
           </div> 
           <a href="#"><img src="/images/m4.jpg" alt="" class="img-full" /></a> 
          </div> 
         </div> 
        </div> 
       </div>
      </div>
      <div tile-id="7" class="pos-abt" style="left: 788px; top: 197px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">一声有你</a>
         </div> 
         <p class="hidden-xs">多少人曾爱慕你年轻时的容颜，可知谁愿承受岁月无情的变迁</p> 
        </div> 
        <a href="#"><img src="/images/m13.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="8" class="pos-abt" style="left: 985px; top: 197px; width: 197px; height: 394px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-warning h4 text-u-c text-lt font-bold">70.80</a>
         </div> 
         <p class="hidden-xs">我多想回到家乡，再回到他的身旁</p> 
        </div> 
        <a href="#"><img src="/images/m30.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="9" class="pos-abt" style="top: 394px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">讲不出再见</a>
         </div> 
         <p class="hidden-xs">这段情，越是浪漫越美妙</p> 
        </div> 
        <a href="#"><img src="/images/m19.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="10" class="pos-abt" style="left: 197px; top: 394px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="item-overlay active bg-success dker wrapper text-center"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">曾为你愿意</a>
         </div> 
         <p class="hidden-xs">离别最是吃不消</p> 
        </div> 
       </div>
      </div>
      <div tile-id="11" class="pos-abt" style="left: 394px; top: 394px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">月半弯</a>
         </div> 
         <p class="hidden-xs">月半弯，好浪漫，月光下的你显的特别的好看</p> 
        </div> 
        <a href="#"><img src="/images/m7.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="12" class="pos-abt" style="left: 591px; top: 394px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">00:00:00</a>
         </div> 
         <p class="hidden-xs">无依无靠，孤独的灵魂受到煎熬</p> 
        </div> 
        <a href="#"><img src="/images/m18.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="13" class="pos-abt" style="left: 788px; top: 394px; width: 197px; height: 394px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-primary h4 text-u-c text-lt font-bold">平凡之路</a>
         </div> 
         <p class="hidden-xs">我曾经跨过山和大海，也穿过人山人海</p> 
        </div> 
        <a href="#"><img src="/images/m32.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="14" class="pos-abt" style="top: 591px; width: 394px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">special love</a>
         </div> 
         <p class="hidden-xs">I hearting baby,I am so sweet</p> 
        </div> 
        <a href="#"><img src="/images/m40.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="15" class="pos-abt" style="left: 394px; top: 591px; width: 394px; height: 394px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-warning h2 text-u-c text-lt font-bold">coast to cast</a>
         </div> 
         <p class="hidden-xs">when you get you know how do I love you</p> 
        </div> 
        <a href="#"><img src="/images/m21.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="16" class="pos-abt" style="left: 985px; top: 591px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">2013 champions of Asia</a>
         </div> 
         <p class="hidden-xs">广州!广州！</p> 
        </div> 
        <a href="#"><img src="/images/m5.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="17" class="pos-abt" style="top: 788px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-white h4 text-u-c text-lt font-bold">叶惠美</a>
         </div> 
         <p class="hidden-xs">秋刀鱼的滋味，猫跟你都想了解</p> 
        </div> 
        <a href="#"><img src="/images/a10.png" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="18" class="pos-abt" style="left: 197px; top: 788px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">JAY</a>
         </div> 
         <p class="hidden-xs">穿越时间的画面</p> 
        </div> 
        <a href="#"><img src="/images/m4.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="19" class="pos-abt" style="left: 788px; top: 788px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="item-overlay active bg-warning dker wrapper text-center"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-white h4 text-u-c text-lt font-bold">简单爱</a>
         </div> 
         <p class="hidden-xs">我想就这样牵着你的手不放开</p> 
        </div> 
       </div>
      </div>
      <div tile-id="20" class="pos-abt" style="left: 985px; top: 788px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">反方向的钟</a>
         </div> 
         <p class="hidden-xs">当当当当</p> 
        </div> 
        <a href="#"><img src="/images/m6.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="21" class="pos-abt" style="top: 985px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="item-overlay active bg-info lt wrapper text-center"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-white h4 text-u-c text-lt font-bold">大话西游</a>
         </div> 
         <p class="hidden-xs">苦海...泛起爱浪...</p> 
        </div> 
       </div>
      </div>
      <div tile-id="22" class="pos-abt" style="left: 197px; top: 985px; width: 394px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">白眉大侠</a>
         </div> 
         <p class="hidden-xs">刀，是什么样的刀，金丝大环刀...</p> 
        </div> 
        <a href="#"><img src="/images/m42.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="23" class="pos-abt" style="left: 591px; top: 985px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">黑.白.灰</a>
         </div> 
         <p class="hidden-xs">十年之前，我不认识你，你不认识我，我们还是朋友。</p> 
        </div> 
        <a href="#"><img src="/images/m9.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="24" class="pos-abt" style="left: 788px; top: 985px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">美丽的一天</a>
         </div> 
         <p class="hidden-xs">A better day, just another day, 只要一点点的阳光。</p> 
        </div> 
        <a href="#"><img src="/images/a7.png" alt="" class="img-full" /></a> 
       </div>
      </div>
      <div tile-id="25" class="pos-abt" style="left: 985px; top: 985px; width: 197px; height: 197px;">
       <div class="item"> 
        <div class="bottom gd bg-info wrapper"> 
         <div class="m-t m-b">
          <a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">冰雨</a>
         </div> 
         <p class="hidden-xs">冷冷的冰雨在脸上胡乱的拍，眼前的色彩，忽然被掩盖。</p> 
        </div> 
        <a href="#"><img src="/images/m12.jpg" alt="" class="img-full" /></a> 
       </div>
      </div>
     </div> 
    </section> 
   </section> 
   <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
  </section> 