<script type="text/javascript">
	$(document).ready(function(){ 
	    $(".size-list-item").mouseover(function(){
	    	var cls = $(this).attr("class");
	    	 
	    }); 
	    
	    $("#meetingType").change(function(){
	    	var meetingValue = $("#meetingType").val();
	    	## 自己上门 改价
	    	if(meetingValue == 1){
	    		$("#meetingTypeFee").val("0");
	    		$("#price_taxi").html("￥0.00");
	    		
	    		var orderPrice = $("#order_price").val();
	    		$("#total_price_b").html(parseInt(orderPrice));
	    	}else{
	    		$("#meetingTypeFee").val("10");
	    		$("#price_taxi").html("￥10.00");
	    		
	    		var orderPrice = $("#order_price").val();
	    		$("#total_price_b").html(10 + parseInt(orderPrice));
	    	} 
		});
		
		$("#pay_button").click(function() {
			document.getElementById("pay_form").submit();
		}); 
	});
</script>
<style>
	.cart_service {
    	width:25%
	}
	
	.cart_price {
    	width:15%
	}
	
	.cart_num {
    	width:10%
	}
	
	.cart_discount {
    	width:15%
	}
	
	.cart_person {
    	width:15%
	}
	
	.cart_type {
    	width:12%
	}
	
	.cart_total {
    	width:8%
	} 
</style>	
<!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                
                    <section id="maincontent" class="twelve columns positionleft">
                    	<div class="padcontent">
                    
                        	<section class="content">
                            
                                <div class="breadcrumb"><a href="index.html">首页</a> / 付款</div>
                                <h1 class="pagetitle">付款明细</h1>
  
                                <div class="table_block" id="order-detail-content">
                                    <table id="cart_summary">
                                        <thead>
                                            <tr>
                                                <th class="cart_service first_item">购买服务</th>
                                                <th class="cart_price item">单价</th>  
                                                <th class="cart_num item">数量</th>
                                                <th class="cart_discount item">优惠方式</th> 
                                                <th class="cart_person item">行者</th>
                                                <th class="cart_type item">上门类型</th> 
                                                <th class="cart_total item">合计</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr class="cart_item" >
                                                <td class="cart_product" style="text-align:left;">
                                                    <a href="#">$!skill.title</a>
                                                    <div>分类:$!sku.title</div>
                                                </td>
                                                <td class="cart_description">
                                                    ￥$!sku.price/天
                                                </td> 
                                                <td class="cart_ref">$!order.amount</td>
                                                <td class="cart_ref">无</td> 
                                                <td class="cart_ref">张师傅</td>  
                                                <td class="cart_quantity"> 
											  		<select name="meetingType" id="meetingType"> 
											  			<option value="1">自己前往</option>
											  			<option value="2">行者上门</option>
											  		</select>  
											    </td>
                                                <td class="cart_total" style="text-align:right"> 
                                                    <span class="price" style="color:#ff5555;">￥$!order.price</span>
                                                </td>
                                            </tr> 
                                        </tbody>
                                        
                                        <tfoot> 
                                            <tr class="cart_total delivery">
                                            	<td colspan="2" class="none1"> </td>
                                                <td class="none2"> </td>
                                                <td class="none3"> </td>
                                                <td colspan="2">优惠:</td>
                                                <td id="total_shipping" class="price">￥0.00</td>
                                            </tr>								
                                            <tr class="cart_total excl">
                                            	<td colspan="2" class="none1"> </td>
                                                <td class="none2"> </td>
                                                <td class="none3"> </td>
                                                <td colspan="2">上门服务费用:</td>
                                                <td id="price_taxi" class="price">￥0.00</td>
                                            </tr> 
                                            <tr class="cart_total total">
                                            	<td colspan="2" class="none1"> </td>
                                                <td class="none2"> </td>
                                                <td class="none3"> </td>
                                                <td colspan="2">小计:</td>
                                                <td id="total_price_container" class="price total_price_container"><span id="total_price"><b id="total_price_b">￥$!order.price</b></span></td>
                                            </tr> 
                                        </tfoot>
                                        </table>
                                </div> 
                                <br>

                                <H2>请选择您的支付方式:</H2>
                                <div id="payment"> 
                                    <ul class="payment_methods"> 
                                        <li>
                                        <input type="radio" id="payment_method_paypal" class="input-radio" name="payment_method" value="paypal"  checked=checked/>
                                        <img src="/images/facebook/friend/alipay.gif" alt="PayPal" /> 				
                                        </li>
                                    </ul>
                                
                                    <div class="form-row">		
                                    	<form method="post" name="pay_form" id="pay_form">
                                    		<input type="hidden" name="action" value="PayAction" />
                                    		<input type="hidden" name="event_submit_do_pay" value="1" />
                                    		<input type="hidden" id="meetingTypeFee" value="0"/>
                                    		<input type="hidden" name="order_price" id="order_price" value="$!order.price" />
                                        	<a href="#" class="button" id="pay_button">付款</a>
                                        </form>
                                    </div>
                                    <div class="clear"></div>
                                </div>


							</section>
                         
                        </div>
                    </section> 
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->