<!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                
                    <section id="maincontent" class="ten columns positionleft">
                    	<div class="padcontent">
                    
                        	<section class="content" id="product-detail">
                            
                                <div class="breadcrumb"><a href="index.html">首页</a> / 技能详情</div>
                                <h1 class="pagetitle">$!skill.name</h1>
                                
                                <div class="row">
                                	<div class="one_fourth columns">
                                        <div id="pb-right-column">
                                            <div class="image-block">                                               
                                                    <div id="imageitems" class="flexslider">
                                                        <ul class="slides">
                                                        	#foreach($!file in $!fileList)
                                                            <li>
                                                            <a class="image" href="$!file.url" data-rel="prettyPhoto[mixed]" >
                                                           		<img src="$!file.url" alt="" />
                                                            </a>
                                                            </li> 
                                                            #end
                                                        </ul>
                                                    </div>
                                            </div>
                                                
                                            <div id="thumbslider">
                                                    <div id="carouselslider" class="flexslider">
                                                        <ul class="slides">
                                                        	#foreach($!file in $!fileList)
                                                            <li><img src="$!file.url" alt="" /></li> 
                                                            #end
                                                        </ul>
                                                    </div>
                                            </div>
                                            
                                            <ul id="usefull_link_block">   
                                            	<li class="print"><a href="#">Print</a></li>  
                                                <li class="share_fb"><a href="#">Share on Facebook</a> </li>
                                                <li class="favoriteproducts"><a href="#">my favorites</a></li>			
                                                
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    
                                	<div class="three_fourth columns">
									<p>$!skill.introduce</p>
									<div class="price">
										#if(($!skill.downBoundPrice == $!skill.upBoundPrice) && ($!skill.downBoundPrice == $!skill.normalPrice))
											￥$!skill.normalPrice
										#else
											￥$!skill.downBoundPrice ~ ￥$!skill.upBoundPrice
										#end 
										<span>/
											#if($!skill.per == "HOUR")
												小时
											#elseif($!skill.per == "DAY")
												天
											#end 			
										</span>
									</div>
                                    <form action="#" method="post" id="BuyForm" class="product_attributes">
                                    	<input type="hidden" name="action" value="BuyAction"/>
                                    	<input type="hidden" name="event_submit_do_buy" value="1"/>
                                    	<input type="hidden" name="skillId" value="$!skill.id"/>
                                    	
                                        <fieldset class="attribute_fieldset">  
                                            <label class="qty_label">数量:</label>
                                            <div class="qty_list">
                                            <select name="amount">
                                                  <option title="1" selected="selected">1</option>
                                                  <option title="2">2</option>
                                                  <option title="3">3</option>
                                                  <option title="4">4</option>
                                            </select>
                                            </div>
                                        </fieldset>
                                    </form>
                                    
									<a href="#" id="cart" class="cart">购买</a> 
                                    
                                    </div>
                                </div>
                                
                                <div class="separator"></div>
                                
                                
                                <div class="tabcontainer">
                                    <ul class="tabs">
                                        <li><a href="#tab0">More Info</a></li>
                                        <li><a href="#tab1">评价($!rateList.size())</a></li>
                                    </ul>
                                    <div class="tab-body">
                                        <div id="tab0" class="tab-content">
                                        <p>Ut ac tristique quam. Aenean tincidunt ipsum et magna consequat in auctor nisi molestie. Duis ornare, nibh quis accumsan ullamcorper, lacus lacus posuere purus, eget auctor velit velit sed arcu. Phasellus a gravida quam. Mauris tristique lectus metus. Aenean lorem leo, rhoncus eget varius a, adipiscing in turpis. Vivamus egestas euismod nisi ut bibendum. In faucibus, massa in porta venenatis, diam enim suscipit lorem, vitae ultrices urna turpis et lectus.</p> 

<p>Nullam tortor orci, tempus ut eleifend vestibulum, vulputate eu ante. Phasellus vestibulum, est et mollis hendrerit, elit diam fermentum leo, et ultrices quam est eget enim. In turpis nisi, rutrum lobortis auctor id, congue eget est. Phasellus semper mauris et odio volutpat placerat. In tellus diam, aliquam quis hendrerit nec, scelerisque sit amet urna. Donec nunc erat, luctus at mattis vel, rutrum ac nunc. Morbi pretium suscipit suscipit. Aliquam id mi tellus. Ut vitae dolor nunc. Donec ullamcorper dapibus ante eu hendrerit. Sed vitae felis in lacus iaculis fermentum. </p>
                                        </div>
                                        <div id="tab1" class="tab-content">
                                        	<section id="comment"> 
			                                    <ol class="commentlist"> 
			                                    	#foreach($!rate in $!rateList)
			                                        <li>
			                                            <div class="comment-body">
			                                                <div class="avatar-img"><img src="$!rate.userPic.url" alt="" class="avatar frame"></div>
			                                                <cite class="fn">$!rate.rate.displayUserNick</cite>
			                                                <div class="dr">
			                                                    <span class="tdate">$!dateUtil.formateDatetime($!rate.rate.rateTime)</span>
			                                                </div>
			                                                <div class="commenttext">
			                                                    <p>$!rate.rate.rateText</p>
			                                                </div>
			                                            </div>
			                                        </li> 
			                                        #end
			                                    </ol> 
			                                </section> 
                                        </div>

                                    </div>
                                </div>
                               
							</section>
                         
                        </div>
                    </section>
                    
                    <aside class="two columns">
                    
                    	<div class="sidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Clothing (8)</a>
                                    	<ul>
                                            <li><a href="#">Woman Dress (4)</a></li>
                                            <li><a href="#">Man Suit (4)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Furniture (4)</a></li>
                                    <li><a href="#">Electronics (4)</a></li>
                                    <li><a href="#">Accessories (4)</a></li>
                                    <li><a href="#">Shoes (4)</a></li>
                                </ul>
                            </li>
                            <li class="widget-container">
                                <h2 class="widget-title">Special Offers</h2>
                                <ul class="sp-widget">
                                    <li>
                                        <img src="images/content/products/p-28.jpg" alt="" />
                                        <h3><a href="#">Woman's Couple Shoes</a></h3>
										<div class="price">$120.00</div>
                                    </li>
                                    <li>
                                        <img src="images/content/products/p-20.jpg" alt="" />
                                        <h3><a href="#">Modern Chair</a></h3>
                                        <div class="price">$120.00</div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        </div>
                        
                    </aside>
                    
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->