<div id="outermain">
        	<div class="container">
                <div class="row">
                
                    <section id="maincontent" class="ten columns positionleft">
                    	<div class="padcontent">
                    
                        	<section class="content" id="product-detail">
                            
                                <div class="breadcrumb"><a href="index.html">首页</a> / 产品 </div>
                                <h1 class="pagetitle">$!skill.name</h1>
                                
                                <div class="row">
                                	<div class="one_fourth columns">
                                        <div id="pb-right-column">
                                            
                                            <div class="image-block">                                               
                                                    <div id="imageitems" class="flexslider">
                                                        <ul class="slides">
                                                        	#foreach($!file in $!fileList)
                                                            <li>
	                                                            <a class="image" href="$!file.url" data-rel="prettyPhoto[mixed]" >                                      
	                                                           		<img src="$!file.url" alt="" />
	                                                            </a>
                                                            </li> 
                                                            #end
                                                        </ul>
                                                    </div>
                                            </div>
                                                <!--
                                            <div id="thumbslider">
                                                    <div id="carouselslider" class="flexslider">
                                                        <ul class="slides">
                                                       	    #foreach($!file in $!fileList)
                                                            	<li><img src="$!file.url" alt="" /></li>
															#end
                                                        </ul>
                                                    </div>
                                            </div>
                                            -->

                                            <ul id="usefull_link_block">   
                                                <!--
                                            	<li class="print"><a href="#">Print</a></li>  
                                                -->
                                                <li class="share_fb"><a href="#">分享</a> </li>
                                                <li class="favoriteproducts"><a href="#">收藏</a></li>			
                                                
                                            </ul>
                                            
                                        </div>
                                    </div>
                                    
                                	<div class="three_fourth columns"> 
                                        <p>$!skill.introduce</p> 
									<div class="price">
									#if(($!skill.downBoundPrice == $!skill.upBoundPrice) && ($!skill.downBoundPrice == $!skill.normalPrice))
										￥ $!skill.normalPrice 
									#else
										￥ $!skill.downBoundPrice  ~ ￥ $!skill.upBoundPrice 
									#end 
									<span>/
									#if($!skill.per == "SECONDARY")
										次
									#elseif($!skill.per == "SECOND")
										秒
									#elseif($!skill.per == "MINUTE")
										分钟
									#elseif($!skill.per == "HOUR")
										小时
									#elseif($!skill.per == "DAY")
										天
									#elseif($!skill.per == "WEEK")
										周 
									#end 
									</span></div>
                                    <form action="#" method="post" id="PayForm" class="product_attributes">
                                    	<input type="hidden" name="action" value="PayAction"/>
                                    	<input type="hidden" name="event_submit_do_ready" value="1"/>
                                    	<input type="hidden" name="skillId" value="$!skill.id"/>
                                        <fieldset class="attribute_fieldset">
                                            <label class="attribute_label">数量:</label>
                                            <div class="attribute_list">
	                                            <select name="amount">
	                                                  <option title="White" selected="selected">1</option>
	                                                  <option title="Red">2</option>
	                                                  <option title="Red">3</option> 
	                                            </select>
                                            </div>
                                            <br> 
                                        </fieldset>
                                          
                                    </form>

									<a href="#" id="cart" class="cart">立刻下单</a>

                                    </div>
                                </div>
                                
                                <div class="separator"></div>
                                
                                
                                <div class="tabcontainer">
                                    <ul class="tabs">
                                        <li><a href="#tab0">详细介绍</a></li>
                                        <li><a href="#tab1">评价($!rateList.size())</a></li>
                                    </ul>
                                    <div class="tab-body">
                                        <div id="tab0" class="tab-content">
                                        <p>xxx</p>
                                        </div>
                                        <div id="tab1" class="tab-content">
                                            <section id="comment"> 
                                                <ol class="commentlist">
                                                	#foreach($!rate in $!rateList)
                                                    <li>
                                                        <div class="comment-body">
                                                            <div class="avatar-img"><img src="images/content/avatar.gif" alt="" class="avatar frame"></div>
                                                            <cite class="fn">$!rate.displayUserNick</cite>
                                                            <div class="dr">
                                                                <span class="tdate">$!rate.rateTime</span>
                                                            </div>
                                                            <div class="commenttext">
                                                                <p>$!rate.rateText.</p>
                                                            </div>
                                                        </div>
                                                    </li>  
                                                    #end
                                                </ol> 
                                            </section>
                                        </div> 
                                    </div>
                                </div>
                               
							</section>
                         
                        </div>
                    </section>
                    
                    <aside class="two columns">
                    
                    	<div class="sidebar">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Clothing (8)</a>
                                    	<ul>
                                            <li><a href="#">Woman Dress (4)</a></li>
                                            <li><a href="#">Man Suit (4)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Furniture (4)</a></li>
                                    <li><a href="#">Electronics (4)</a></li>
                                    <li><a href="#">Accessories (4)</a></li>
                                    <li><a href="#">Shoes (4)</a></li>
                                </ul>
                            </li>  
                        </ul>
                        </div>
                        
                    </aside>
                    
                </div>
            </div>
        </div> 
        