<div class="breadcrumb"><a href="index.html">首页</a> > 订单确认</div>
<style>
	.confirm_table .skill_type{
		color:#9C9C9C;
		text-align: left;
		word-wrap: break-word;
	} 
	
	.confirm_table .skill_title{
		color:#3C3C3C;
		text-align: left;
		word-wrap: break-word;
	} 
</style>
<table>
    <thead>
        <tr>
	        <th>技能详情</th>
	        <th>单价(元)</th>
	        <th>数量</th>
	        <th>交易状态</th>
	        <th>实付款(元)</th>
	        <th>操作</th>
        </tr>
    </thead>
    <tbody class="confirm_table">  
        #foreach($!order in $!orderResult.getModule())
	        <tr>
		        <td>
		        	<div class="skill_title">$!order.skillName</div>
		        	<div class="skill_type">分类:大娃</div>
		        </td>
		        <td><strong>40.00</strong></td>
		        <td>2</td>
		        <td>等待确认</td>
				<td><strong>75.99</strong></td>
				<td>
					<span><a href="#">确认</a></span>
				</td>
	        </tr>
        #end 
    </tbody> 
</table>
<input type="hidden" name="currentPage" id="currentPage" value="$!orderResult.q.currentPage"/>
<div class="pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" data-max-page="$!orderResult.q.totalPage" id="totalPage" />
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>
<script>
	$(document).ready(function() { 
		var totalPage = $("#totalPage").attr("data-max-page");
		var currentPage = $("#currentPage").val();
		$('.pagination').jqPagination({
			link_string	: '/?page={page_number}',
			max_page	: totalPage,
			current_page: currentPage,
			paged		: function(page) {
				window.location.href="/manage/orderConfirm.htm?p=" + page;
			}
		}); 
	});
</script>
<script>
	
</script>




