<section class="content" id="register">
                            
    <div class="breadcrumb"><a href="index.html">首页</a> / 技能发布</div>
    <h1 class="pagetitle">技能发布</h1>

    <div class="row">  
    	<form id="publishForm" method="post">
    		<input type="hidden" name="action" value="SkillAction" />
    		<input type="hidden" name="event_submit_do_skill_publish" value="1" />
	        <div class="clear"></div>
	        <div class="ten columns ">
	            <label for="billing_company" class="">技能标题 <span class="required">*</span></label>
	            <input type="text" class="input-text" name="title" id="title"  value="" />
	        </div>
	        <div class="clear"></div>
	        <div class="ten columns ">
	            <label for="billing_company" class="">副标题 <span class="required">*</span></label>
	            <input type="text" class="input-text" name="sub_title" id="sub_title"  value="" />
	        </div>  
	        <div class="clear"></div>  
	        <div class="ten columns ">
	            <label for="billing_company" class="">单位 <span class="required">*</span></label>
	            <select><option>ss</option></select>
	        </div>
	        <div class="clear"></div>  
	        <div class="ten columns ">
	            <label for="billing_company" class="">详细介绍 <span class="required">*</span></label>
	            <input type="text" class="input-text" name="introduce" id="introduce"  value="" />
	        </div>
	        <div class="clear"></div>   
	        <div id="city_1">
	            <div class="five columns ">
	                <label for="billing_first_name" class="">省 <span class="required">*</span></label>
	                <select class="prov" name="prov" required></select> 
	            </div>
	            <div class="five columns ">
	                <label for="billing_last_name" class="">市 <span class="required">*</span></label>
	                <select class="city" name="dist" disabled="disabled" required></select>
	            </div>
	        </div>
	        <div class="clear"></div>  
	        <div class="ten columns ">
	            <label for="billing_company" class="">详细地址 <span class="required">*</span></label>
	            <input type="text" class="input-text" name="address" id="address"  value="" />
	        </div>
	        <div class="clear"></div>  
	        
	        
	        <div id="city_1">
	            <div class="five columns ">
	                <label for="billing_company" class="">上门服务费用(元) <span class="required">*</span></label>
	            	<input type="text" class="input-text" name="come_fee" id="come_fee"  value="" />
	            </div>
	            <div class="five columns ">
	                <label for="billing_last_name" class="">单位 <span class="required">*</span></label>
	                <select name="per">
	                	<option value="hour">小时</option>
	                	<option value="day">天</option>
	                </select>
	            </div>
	        </div>
	          
	        <div id="skuList">
	        	<div class="sku" style="border-top:1px solid #9c9c9c">
		        	<div class="ten columns ">
			            <label for="billing_company" class="">SKU编码 <span class="required">*</span></label>
			            <input type="text" class="input-text" name="sku_code" id="sku_code"  value="" />
			        </div>
			        <div class="ten columns ">
			            <label for="billing_company" class="">SKU标题 <span class="required">*</span></label>
			            <input type="text" class="input-text" name="sku_title" id="sku_title"  value="" />
			        </div>
			        <div class="ten columns ">
			            <label for="billing_company" class="">价格 <span class="required">*</span></label>
			            <input type="text" class="input-text" name="price" id="price"  value="" />
			        </div>	
		        </div>
	        </div> 
	        <div class="ten columns ">  
	        	<input type="button" class="button mini" id="sku_btn" value="SKU新增"/>
	            <input type="button" class="button mini" id="submit_btn" value="提交"/> 
	        </div> 
        </form>
        
        <div class="clear"></div>  
	        <div class="ten columns ">
	            ## 引入common包的附件上传控件 
	            $control.setTemplate("common:file.vm")
	        </div>
        <div class="clear"></div> 
	</div> 
</section>
<script type="text/javascript" src="/js/select/cityselect.js"></script>
<div id="sku_template" style="visibility:hidden;"> 
	<div class="sku" style="border-top:1px solid #9c9c9c">
		<div class="ten columns ">
	        <label for="billing_company" class="">SKU编码 <span class="required">*</span></label>
	        <input type="text" class="input-text" name="sku_code" id="sku_code"  value="" />
	    </div>
	    <div class="ten columns ">
	        <label for="billing_company" class="">SKU标题 <span class="required">*</span></label>
	        <input type="text" class="input-text" name="sku_title" id="sku_title"  value="" />
	    </div>
	    <div class="ten columns ">
	        <label for="billing_company" class="">价格 <span class="required">*</span></label>
	        <input type="text" class="input-text" name="price" id="price"  value="" />
	    </div>
    </div> 
</div>
<script type="text/javascript">
	
	jQuery().ready(function() { 
		
		jQuery(window).load(function() {   
			// 初始化省市选择器   
			jQuery("#city_1").citySelect({
				nodata:"none",
				required:false
			});  
			
			jQuery("#submit_btn").click(function() {
				document.getElementById("publishForm").submit();
			}); 
			
			var count = 1;
			jQuery("#sku_btn").click(function() { 
				if(count>=3){
					var d = dialog({
					    title: 'SKU过多',
					    content: '每个商品下最多只允许挂20个SKU属性.',
					    okValue: '确定'
					});
					d.showModal(); 
				}else{
					$('#skuList').append($('#sku_template').html());
					count++; 
				} 
			});  
		});  
	}); 
</script>	
 









