<!-- Start of Page Container -->
<div class="page-container">
        <div class="container">
                <div class="row">

                        <!-- start of page content -->
                        <div class="span12 page-content">

                                <article class="type-page hentry clearfix">

                                        <h1 class="post-title"><a href="#">公司简介</a></h1>
 
                                        <ul class="tabs-nav">
                                                <li><a href="#">关于我们</a></li>
                                                <li class="active" style=""><a href="#">公司简介</a></li>
                                                <li><a href="#">加入我们</a></li>
                                                <li><a href="#">联系我们</a></li>
                                        </ul>

                                        <div class="tabs-container">
                                                <div class="tab-content"></div>
                                                <div class="tab-content">我们是一家移动互联网创业公司，分别来自互联网行业和金融行业的小伙伴们组成了一支有趣给力、战天斗地的跨界团队。
													我们梦想着变革未来、改变这个世界，或许有一天，梦想真的能实现。</div>
                                                <div class="tab-content"></div>
                                                <div class="tab-content"></div>
                                        </div> 

                                </article>
                        </div>
                        <!-- end of page content -->

                </div>
        </div>
</div>
<!-- End of Page Container -->