<!-- Start of Page Container -->
<div class="page-container">
        <div class="container">
                <div class="row">

                        <!-- start of page content -->
                        <div class="span8 page-content">

                                <!-- Basic Home Page Template -->
                                <div class="row separator">
                                        <section class="span4 articles-list">
                                                <h3>问答精选</h3>
                                                <ul class="articles">
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">这是什么动物?长长的还带有花纹。好可怕。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Server &amp; Database">贴图区</a></span>
                                                                <span class="like-count">66</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">电脑蓝屏了。如下图。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Website Dev">贴图区</a></span>
                                                                <span class="like-count">15</span>
                                                        </li>
                                                        <li class="article-entry video">
                                                                <h4><a href="single.html">求一张乔治贝斯特吸毒的视频。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Website Dev">视频区</a></span>
                                                                <span class="like-count">8</span>
                                                        </li>
                                                        <li class="article-entry image">
                                                                <h4><a href="single.html">曼联97年的全家福。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Advanced Techniques">体育</a></span>
                                                                <span class="like-count">6</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">这个AV女优叫什么名字?</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Website Dev">电影明星</a></span>
                                                                <span class="like-count">2</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">小时候的大大泡泡糖是哪个工程生产的?</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Website Dev">生活百科</a></span>
                                                                <span class="like-count">3</span>
                                                        </li>
                                                </ul>
                                        </section>


                                        <section class="span4 articles-list">
                                                <h3>最新速递</h3>
                                                <ul class="articles">
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">需要一个bootstrap的页面模板。我可以付现金。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Server &amp; Database">程序语言</a></span>
                                                                <span class="like-count">66</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">求中国队7号历届名单。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Advanced Techniques">体育</a></span>
                                                                <span class="like-count">18</span>
                                                        </li>
                                                        <li class="article-entry image">
                                                                <h4><a href="single.html">百度公司的全称是什么。</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Designing in WordPress">科技</a></span>
                                                                <span class="like-count">7</span>
                                                        </li>
                                                        <li class="article-entry video">
                                                                <h4><a href="single.html">谁有红警2谭雅的笑声文件?</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in WordPress Plugins">游戏</a></span>
                                                                <span class="like-count">7</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">今天在飞机上拍到了龙!这是什么原因?</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Website Dev">自然科学</a></span>
                                                                <span class="like-count">15</span>
                                                        </li>
                                                        <li class="article-entry standard">
                                                                <h4><a href="single.html">恋爱之味的女二号谁能简单介绍下?</a></h4>
                                                                <span class="article-meta">2013-12-25 发表于 <a href="#" title="View all posts in Theme Development">电影</a></span>
                                                                <span class="like-count">1</span>
                                                        </li>
                                                </ul>
                                        </section>
                                </div>
                        </div>
                        <!-- end of page content -->


                        <!-- start of sidebar -->
                        <aside class="span4 page-sidebar">

                                <section class="widget">
                                        <div class="support-widget">
                                                <h3 class="title">帮助</h3>
                                                <p class="intro">不会用? 找不到想要的答案? <a href="#">点击我来帮助你吧</a>。</p>
                                        </div>
                                </section>
				
								<!--
                                <section class="widget">
                                        <div class="quick-links-widget">
                                                <h3 class="title">Quick Links</h3>
                                                <ul id="menu-quick-links" class="menu clearfix">
                                                        <li><a href="index-2.html">Home</a></li>
                                                        <li><a href="articles-list.html">Articles List</a></li>
                                                        <li><a href="faq.html">FAQs</a></li>
                                                        <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                        </div>
                                </section>
                                -->
                                
                                <section class="widget">
                                        <h3 class="title">标签</h3>
                                        <div class="tagcloud">
                                                <a href="#" class="btn btn-mini">铃木麻奈美</a>
                                                <a href="#" class="btn btn-mini">足球</a>
                                                <a href="#" class="btn btn-mini">龙</a>
                                                <a href="#" class="btn btn-mini">麦蒂</a>
                                                <a href="#" class="btn btn-mini">恋爱</a>
                                                <a href="#" class="btn btn-mini">曼联</a>
                                                <a href="#" class="btn btn-mini">bootstrap</a>
                                                <a href="#" class="btn btn-mini">动物</a>
                                                <a href="#" class="btn btn-mini">花纹</a>
                                                <a href="#" class="btn btn-mini">电脑</a>
                                                <a href="#" class="btn btn-mini">蓝屏</a>
                                                <a href="#" class="btn btn-mini">泡泡糖</a>
                                                <a href="#" class="btn btn-mini">生活</a>
                                                <a href="#" class="btn btn-mini">教育</a>
                                                <a href="#" class="btn btn-mini">性</a>
                                                <a href="#" class="btn btn-mini">台球</a>
                                                <a href="#" class="btn btn-mini">斯诺克</a>
                                                <a href="#" class="btn btn-mini">白板</a>
                                                <a href="#" class="btn btn-mini">麻将</a>
                                        </div>
                                </section>

                        </aside>
                        <!-- end of sidebar -->
                </div>
        </div>
</div>
<!-- End of Page Container -->