<!-- Start of Page Container -->
<div class="page-container">
        <div class="container">
                <div class="row">

                        <!-- start of page content -->
                        <div class="span8 page-content">

                                <ul class="breadcrumb">
                                    <li><a href="#">首页</a><span class="divider">/</span></li>
                                    <li><a href="#" title="View all posts in Server &amp; Database">发布提问</a> <span class="divider">/</span></li> 
                                </ul>
 
 								<form action="singlenew.htm" method="post" id="commentform">
 
                                                        <p class="comment-notes">您的邮件信息将不会被公开，请放心填写。标注有<span class="required">*</span>号为必填信息。</p>

                                                        <div>
                                                                <label for="author">昵称 *</label>
                                                                <input class="span4" type="text" name="author" id="author" value="" size="22">
                                                        </div>

                                                        <div>
                                                                <label for="email">邮件(在本站中尽量保持邮件统一，便于您后续查询) *</label>
                                                                <input class="span4" type="text" name="email" id="email" value="" size="22">
                                                        </div>
                                                        
                                                        <div>
                                                                <label for="email">标题 *</label>
                                                                <input class="span4" type="text" name="email" id="email" value="" size="22">
                                                        </div>
 
                                                        <div>
                                                                <label for="comment">提问</label>
                                                                <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
                                                        </div>
 
                                                        <div>
                                                                <input class="btn" name="submit" type="submit" id="submit" value="提问">
                                                        </div>

                                                </form> 
 
                        </div>
                        <!-- end of page content -->


                        <!-- start of sidebar -->
                        <aside class="span4 page-sidebar">

                                <section class="widget">
                                        <div class="support-widget">
                                                <h3 class="title">帮助</h3>
                                                <p class="intro">不会用? 找不到想要的答案? <a href="#">点击我来帮助你吧</a>。</p>
                                        </div>
                                </section>
 
                        </aside>
                        <!-- end of sidebar -->
                </div>
        </div>
</div>
<!-- End of Page Container -->