<!-- /.aside -->
<section id="content">
  <section class="vbox">
    <section class="scrollable wrapper-lg">
      <div class="row">
        <div class="col-sm-9">
          <div class="blog-post">  
            #foreach($!blog in $!blogList)
	            <div class="post-item">
	              #if($!blog.hasBlogBgPic)	
		              <div class="post-media">
		                <img src="$!blog.blogBgPic.url" class="img-full">
		              </div>
	              #end
	              <div class="caption wrapper-lg">
	                <h2 class="post-title"><a href="#">$!blog.title</a></h2>
	                <div class="post-sum">
	                    $!blog.content
	                </div>
	                <div class="line line-lg"></div>
	                <div class="text-muted">
	                  <i class="fa fa-user icon-muted"></i> by <a href="#" class="m-r-sm">$!blog.user.nick</a>
	                  <i class="fa fa-clock-o icon-muted"></i> $!blog.publishTime
	                  <a href="#" class="m-l-sm"><i class="fa fa-comment-o icon-muted"></i> 2 comments</a>
	                </div>
	              </div>
	            </div>
            #end 
          </div>
          <div class="text-center m-t-lg m-b-lg">
            <ul class="pagination pagination-md">
              <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
          </div> 
        </div>
        <div class="col-sm-3">
          <h5 class="font-bold">Categories</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">
                <span class="badge pull-right">15</span>
                Photograph
              </a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <span class="badge pull-right">30</span>
                Life style
              </a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <span class="badge pull-right">9</span>
                Food
              </a>
            </li>
            <li class="list-group-item">
              <a href="#">
                <span class="badge pull-right">4</span>
                Travel world
              </a>
            </li>
          </ul>
          <div class="tags m-b-lg l-h-2x">
            <a href="#" class="label bg-primary">Bootstrap</a> <a href="#" class="label bg-primary">Application</a> <a href="#" class="label bg-primary">Apple</a> <a href="#" class="label bg-primary">Less</a> <a href="#" class="label bg-primary">Theme</a> <a href="#" class="label bg-primary">Wordpress</a>
          </div>
          <h5 class="font-bold">最近投递</h5>
          <div>
            <article class="media">
              <a class="pull-left thumb thumb-wrapper m-t-xs">
                <img src="/images/m1.jpg">
              </a>
              <div class="media-body">                        
                <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>
                <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
              </div>
            </article>
            <div class="line"></div>
            <article class="media m-t-none">
              <a class="pull-left thumb thumb-wrapper m-t-xs">
                <img src="/images/m2.jpg">
              </a>
              <div class="media-body">                        
                <a href="#" class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
              </div>
            </article>
            <div class="line"></div>
            <article class="media m-t-none">
              <a class="pull-left thumb thumb-wrapper m-t-xs">
                <img src="/images/m3.jpg">
              </a>
              <div class="media-body">                        
                <a href="#" class="font-semibold">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>
                <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>