<!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
                <div class="row">
                
                    <section id="maincontent" class="ten columns positionleft">
                    	<div class="padcontent">
                    
                        	<section class="content" id="register">
                            
                                <div class="breadcrumb"><a href="index.html">首页</a> / 注册</div>
                                <h1 class="pagetitle">注册</h1>
                                
								<div class="alert">已经有账号? <a href="account.html">点击这里登录</a></div> 

                                <div class="row">
                                	<div class="ten columns ">
                                        <label for="billing_company" class="">用户名</label>
                                        <input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">密码</label>
                                        <input type="password" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">重复密码</label>
                                        <input type="password" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">姓名</label>
                                        <input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">公司名称</label>
                                        <input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">家庭地址</label>
                                        <input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div> 
                                    <div class="clear"></div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">公司名称</label>
                                        <input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="clear"></div>
                                     
                                    
                                    <div id="city_1">
                                    <div class="five columns ">
                                        <label for="billing_first_name" class="">省 <span class="required">*</span></label>
                                        <select class="prov"></select> 
                                    </div>
                                    <div class="five columns ">
                                        <label for="billing_last_name" class="">市 <span class="required">*</span></label>
                                        <select class="city" disabled="disabled"></select>
                                    </div>
                                    </div>
                                    
                                    
                                    <div class="clear"></div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">Email</label>
                                    	<input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div>
                                    <div class="clear"></div>
                                    <div class="ten columns ">
                                        <label for="billing_company" class="">手机</label>
                                    	<input type="text" class="input-text" name="billing_company" id="billing_company"  value="" />
                                    </div> 
                                    <div class="clear"></div>
                                     
                                    <h3 class="margin_bottom_middle">个人简介</h3> 
                                    <textarea name="order_comments" class="input-text" id="order_comments"  rows="6"></textarea>
                                    <input type="submit" name="submit" class="button mini" id="submit_btn" value="提交"/>
                                
							</section>
                         
                        </div>
                    </section> 
                    
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
<script type="text/javascript" src="/js/select/cityselect.js"></script>        
<script type="text/javascript">
	jQuery(window).load(function() { 
		jQuery("#city_1").citySelect({
			nodata:"none",
			required:false
		}); 
	}); 
</script>	




