<div id="top">
    <div class="container">
    <div class="row">
    	<div id="topmenu" class=" six columns">
    		#if($!isLogin)
    			<ul id="topnav">
	                <li><a href="#">欢迎你,$!user.nick</a></li> 
	                <li><a href="#">退出</a></li>  
	                <li><a href="#">个人中心</a></li> 
	                <li><a href="#">联系我们</a></li> 
	            </ul>
    		#else
    			<ul id="topnav">
	                <li><a href="#">登录</a></li> 
	                <li><a href="/user/register.htm">注册</a></li>
	                <li><a href="#">个人中心</a></li> 
	                <li><a href="#">联系我们</a></li> 
	            </ul>
    		#end
            
        </div>
        <div id="topright" class="six columns">
            <!--
        	<div class="language"> 
           		Language:  <a href="#"><img src="/images/eng.png" alt=""/></a> <a href="#"><img src="images/fr.png" alt=""/></a> <a href="#"><img src="images/gr.png" alt=""/></a>
            </div>
        	<div class="currency"> Currency : <a href="#">€</a> <a href="#">£</a> <a href="#">$</a></div>
            -->
        </div>
    </div>
    </div>
</div>

<div id="logo-wrapper">
    <div class="container">
    <div class="row">
        <div id="logo" class="six columns">
            <a href="index.html"><img src="/images/logo.png" alt=""/></a>
            <span class="desc">最完美的解决方案</span>
        </div>
        <div class="right six columns">

            <form action="#" id="searchform" method="get">
                
                <input type="text" onBlur="if (this.value == '')this.value = '输入关键字搜索';" 
                        onFocus="if (this.value == '输入关键字搜索')this.value = '';" value="输入关键字搜索" id="s" name="s" class="field">
                <input type="submit" value="" class="searchbutton">
               
            </form> 

            <div class="clear"></div>    
            <!--
            <div class="login">Welcome Visitor, you can <a href="login.html"><strong>login</strong></a> or <a href="register.html"><strong>create an account</strong></a></div>
            -->
        </div>
    </div>
    </div>
</div>

<section id="navigation">
    <div class="container">
    <div class="row">
    <nav id="nav-wrap" class="twelve columns">
        <ul id="sf-nav" class="sf-menu">
            <li class="current"><a href="index.html">首页</a></li>
            <li><a href="about.html">教育</a>
                <ul>
                    <li><a href="element.html">家教</a></li>
                    <li><a href="single.html">培训</a></li>
                    <li><a href="#">技能</a></li>
                </ul>
            </li>
            <li><a href="product-grid.html">帮忙</a>
                <ul>
                	<li><a href="product-grid.html">举手之劳</a></li>
                    <li><a href="product-list.html">有点麻烦</a></li>
                    <li><a href="product-details.html">挺难弄的</a></li>
                    <li><a href="checkout.html">非常麻烦</a></li>
                </ul>
            </li> 
            <li><a href="blog.html">我有一技之长</a></li>
            <li><a href="contact.html">联系我们</a></li>
        </ul><!-- topnav -->
    </nav><!-- nav -->	
    </div>
    </div>
</section>

<div class="clear"></div>